.room {
    font-size: 18px;
}
.room .users {
    padding: 5px;
    background-color: lightgrey;
    color: white;
}
.room .user {
    text-align: right;
    width: 100%;
    cursor: pointer;
}
.room .user.over {
    color: yellow;
}
.room .messages {
    padding: 5px;
    background-color: lightgreen;
}
.room .message {
}
.room .message.command {
    color: grey;
    font-style: italic;
}
.room input {
    width: 99%;
    height: 1.5em;
}
.room .members {
    padding: 5px;
    background-color: lightgrey;
}
.room .member {
    cursor: pointer;
}
.room .member:hover {
    color: grey;
}
.room .members > div, .room .users > div, .room .messages > div {
    height: 24px;
}
.room .videos-container {
    height: 80%;
}
.room .videos-container video {
    height: 100%;
}